.title {
    font-family: 'PT Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: clamp(1.25rem, 0.6071rem + 3.2143vw, 3.5rem);
    line-height: 120%;
    text-wrap: wrap;
    margin-top: clamp(3.6875rem, 1.7054rem + 9.9107vw, 10.625rem);
    padding-left: clamp(1.25rem, 0.1786rem + 5.3571vw, 5rem);
    max-width: clamp(7.6875rem, 3.5804rem + 20.5357vw, 22.0625rem);
}

.desktop {
    position: relative;
}

.desktop::before {
    content: '';
    position: absolute;
    left: 0;
    top: clamp(0.25rem, 0.0625rem + 0.4167vw, 0.4375rem);
    height: clamp(4.375rem, 1.25rem + 6.9444vw, 7.5rem);
    border-left: 5px solid;
    border-image-source: linear-gradient(180deg, #3877EE -5%, #EF5DA8 50%);
    border-image-slice: 0 0 0 100%;
}